:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: grey;
  background: url(https://i.pinimg.com/originals/94/62/1a/94621a4427b740cc2addc5270f52a3b0.jpg);
  background-size: cover;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}